---
layout: blog
---

<div id="blog" class="section">
  <div class="grid">
    <div class="row">
      {% for post in site.posts %}
      <div class="col s12 m4">
        <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
          <div class="post card large z-depth-2">
          {% if post.cover %}
             {% include cover_post.html %}
          {% else %}
              {% include no_cover_post.html %}
          {% endif %}
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

