<footer id="contato">
  <div class="grid">
    <div class="row">
      <div class="col s12 m4">
        <table class="responsive-table">
          <thead>
            <tr>
              <th data-field="id">
                <h4>Nossas Redes Sociais</h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="https://plus.google.com/+Gdgnatal-rn/" target="_blank" class="waves-effect waves-teal btn-flat">Google+</a></td>
            </tr>
            <tr>
              <td><a href="https://github.com/gdg-natal" target="_blank" class="waves-effect waves-teal btn-flat">GitHub</a></td>
            </tr>
            <tr>
              <td><a href="#" target="_blank" class="waves-effect waves-teal btn-flat">Facebook</a></td>
            </tr>

            <tr>
              <td><a href="https://goo.gl/jp6EJX" target="_blank" class="waves-effect waves-teal btn-flat">GDG Natal Chapter</a></td>
            </tr>


          </tbody>
        </table>
      </div>
      <div class="col s12 m8">
        <div class="col s12 m4">
          <img src="http://gdgsp.org/img/gdg-square.png" alt="GDG">
        </div>
        <div class="col s12 m8">
          <h4>Sobre o Google Developers Group</h4>
          <p>O Google Developers Group é uma iniciativa de pessoas interessadas em construir com tecnologia e disseminar o conhecimento. Nossos eventos são direcionados para a comunidade de desenvolvedores, engenheiros, designers e empreendedores, organizados pelos nossos membros de forma voluntária e sem fins lucrativos. Encontre outros capítulos do GDG no <a href="https://developers.google.com/groups/">Google Developers</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
