<div class="header section">
  <div class="logo closed z-depth-3">
    <div class="center">
      <img src="/resources/imgs/logo.png" alt="logo">
      <span class="mobile name">GDG Natal</span>
      <span class="mobile menu"><i class="fa fa-bars"></i></span>
      <span class="nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#home">HOME</a></span>
      <span class="nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#iniciativas">INICIATIVAS</a></span>
      <span class="nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#equipe">EQUIPE</a></span>
      <span class="nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#contato">CONTATO</a></span>
      <span class="nav closed"><a class="waves-effect waves-teal btn-flat" href="/blog.html">BLOG</a></span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="mobile collapse-menu">
    <span class="mobile nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#home">HOME</a></span>
    <span class="mobile nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#iniciativas">INICIATIVAS</a></span>
    <span class="mobile nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#equipe">EQUIPE</a></span>
    <span class="mobile nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#contato">CONTATO</a></span>
    <span class="nav closed"><a class="waves-effect waves-teal btn-flat" href="/blog.html">BLOG</a></span>
  </div>
  <h1 class="title"><span class="desktop">Google Developers Group</span> <span class="mobile">GDG</span>  <br> <span class="light">Natal</span></h1>
  <div class="clear"></div>
</div>
