<div class="header section opened">
  <div class="logo closed z-depth-3">
    <div class="center">
      <span class="nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#home">HOME</a></span>
      <span class="nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#iniciativas">INICIATIVAS</a></span>
      <img src="resources/imgs/logo.png" alt="logo">
      <span class="mobile name">GDG Natal</span>
      <span class="mobile menu"><i class="fa fa-bars"></i></span>
      <span class="nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#equipe">EQUIPE</a></span>
      <span class="nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#contato">CONTATO</a></span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="mobile collapse-menu">
    <span class="mobile nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#home">HOME</a></span>
    <span class="mobile nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#iniciativas">INICIATIVAS</a></span>
    <span class="mobile nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#equipe">EQUIPE</a></span>
    <span class="mobile nav closed"><a class="navigate waves-effect waves-teal btn-flat" href="#contato">CONTATO</a></span>
  </div>
  <h1 class="title"><span class="desktop">Google Developers Group</span> <span class="mobile">GDG</span>  <br> <span class="light">Natal</span></h1>
  <div class="clear"></div>
  <div class="grid">
    <p class="presentation">
    <span class="title-present">O Que é a GDG ?</span> 
    O GDG é voltado para os desenvolvedores que tem interesse nas tecnologias de desenvolvimento da Google. um GDG pode ter várias formas: apenas um grupo pequeno de pessoas que se reúnem para assistir a um vídeo mais recente sobre alguma tecnologia Google ou ainda grandes encontros com demonstrações e palestras.  Tudo, de plataformas do Android, do App Engine e do Google Chrome, a APIs de produto, como a API do Google Maps, a API do YouTube e a API do Google Agenda.
    </p>
  </div>
</div>
