<div class="grid">
  <p class="presentation">
  <span class="title-present">O Que é a GDG ?</span> 
  O GDG é voltado para os desenvolvedores que tem interesse nas tecnologias de desenvolvimento da Google. um GDG pode ter várias formas: apenas um grupo pequeno de pessoas que se reúnem para assistir a um vídeo mais recente sobre alguma tecnologia Google ou ainda grandes encontros com demonstrações e palestras.  Tudo, de plataformas do Android, do App Engine e do Google Chrome, a APIs de produto, como a API do Google Maps, a API do YouTube e a API do Google Agenda.
  </p>
</div>
