.container{
    max-width: 960px;
    min-width: 800px;
}

#sobre.jumbotron{
    padding-top: 80px;
    background-color: #00678e;
    color: #FFF;
}
    
a.dart {
    color:#428bca;
}

a.dart:hover{
    color:#FF000;
}

.inscreva-se{
    text-align:center;
}

.btn-inscreva-se{
    font-size:22px;
    width: 300px;
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}


#parceiros-section{}

    #parceiros-section li{
        list-style: none;
    }

    #parceiros-section .photo {
        max-width: 100%;
        position: relative;
        top: -1px;
    }