/* -----------------------------------------------------------------------------------------------------
------------------------------ RESET ---------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h6,  blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
s, u, i, .itens-list p,center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
	text-decoration: none; 
	color: #000;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main p{ 
	
	}


/*-----------------------------
---------- GRID ---------
-----------------------------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
}

.grid {
	width: 100%;
	max-width: 1000px; 
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden; 
	overflow-bottom: visible;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}
.clear{ 
	clear:both;
	}
.col-12-12,.col-1-1 {
	width: 100%;
}

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.33%;
}

.col-9-12 {
	width: 75%;
}

.col-8-12,.col-2-3 {
	width: 66.66%;
}

.col-7-12 {
	width: 58.33%
}

.col-6-12, .col-1-2 {
	width: 50%;
}

.col-5-12 {
	width: 41.66%;
}

.col-4-12, .col-1-3 {
	width: 33.33%;
}

.col-3-12, .col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-2-12, .col-1-6 {
	width: 16.66%;
}

.col-1-12 {
	width: 8.33%
}

/* tablets  */
@media handheld, only screen and (max-width: 767px) {
  .grid {
		width: 100%;
		min-width: 0;
		margin: 0px;
		padding: 0px;
	}
  
  [class*='col-'] {
    float: left;
  }
  
  .col-12-12,.col-1-1, .col-11-12, .col-10-12, .col-9-12, .col-8-12, .col-2-3, .col-7-12, .col-6-12,.col-1-2, .col-5-12  {
	  width: 100%;
  }


  .col-4-12,.col-1-3, .col-3-12,.col-1-4 {
    width: 50%;
  }

  .col-1-5, .col-2-12,.col-1-6 {
    width: 25%;
  }

  .col-1-12 {
    width: 16.66%;
  }
}

@media handheld, only screen and (max-width: 420px) {
  .grid {
		width: 100%;
		min-width: 0;
		margin: 0px;
		padding: 0px;
	} 
  [class*='col-'] {
    float: left;
  }
  
  .col-12-12,.col-1-1, .col-11-12, .col-10-12, .col-9-12, .col-8-12, .col-2-3, .col-7-12, .col-6-12,.col-1-2, .col-5-12, .col-4-12,.col-1-3, .col-3-12,.col-1-4 {
	  width: 100%;
  }

  .col-1-5, .col-2-12,.col-1-6 {
    width: 33.33%;
  }

  .col-1-12 {
    width: 25%;
  }
}
