<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <body class="blog">
    {% include menu_blog.html %}
    <article id="blog-post">
      <div class="grid">
        <div class="card z-depth-2">
          <h2>{{ page.title }}</h2>
          <div class="row">
            <div class="col s12 m12">
              <div>
                {{ content }}
              </div>
              <br>
              <div class="content">
                <div class="author">
                  {% for dev in site.team %}
                    {% if dev.name == page.author %}
                      <div class="photo" style="background-image: url({{ dev.photo }})"></div>
                    {% endif %}
                  {% endfor %}
                  {{ page.author }}
                </div>
              </div>
              <ul class="post-categories">
                <br>
                {% for tag in page.tags %}
                <li><span class="chip">{{ tag }}</span></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% include footer.html %}
    {% include scripts.html %}
    <script>
      AnimationConfig.disableTimeline = true;
      AnimationConfig.animate = false;
    </script>
  </body>

</html>
